n8n-ai-news-workflow.json
{
  "name": "AI News Aggregator - Kortex System",
  "nodes": [
    {
      "parameters": {},
      "id": "c00afc10-df3d-4055-9e3d-fdade1f78172",
      "name": "Alle 2 Stunden",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -528,
        0
      ],
      "notes": "Trigger alle 2 Stunden für aktuelle AI-News"
    },
    {
      "parameters": {
        "path": "ai-news-feed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ad017024-cad5-418b-b9d3-01694ef4d7c6",
      "name": "AI News Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -528,
        224
      ],
      "webhookId": "ai-news-feed"
    },
    {
      "parameters": {
        "url": "https://research.google/blog/rss/",
        "options": {}
      },
      "id": "d0a7be7e-5181-479c-a302-439f9d90d40b",
      "name": "RSS Feed Read - Google AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -160,
        -336
      ],
      "notes": "Lädt Google AI Blog RSS Feed"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/n8n.rss",
        "options": {
          "response": {}
        }
      },
      "id": "70631e1d-d846-47e1-b25f-3f75f7fceb69",
      "name": "HTTP Req - n8n Blog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        -144
      ],
      "notes": "Lädt n8n Blog als HTTP Request (wg. CORS)"
    },
    {
      "parameters": {
        "url": "https://openai.com/news/rss.xml",
        "options": {}
      },
      "id": "ff874c78-58ca-442e-ac3e-0e380a194ef8",
      "name": "RSS Feed Read - OpenAI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "notes": "Lädt OpenAI Blog RSS Feed"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/AnthropicAI.rss",
        "options": {
          "response": {}
        }
      },
      "id": "bee85cac-7afa-420a-9f1d-0342e5b0082c",
      "name": "HTTP Req - Anthropic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        144
      ],
      "notes": "Lädt Anthropic News als HTTP Request (wg. CORS)"
    },
    {
      "parameters": {
        "url": "https://huggingface.co/blog/feed.xml",
        "options": {
          "response": {}
        }
      },
      "id": "8848575e-47a8-43c2-ae14-67127d4db84d",
      "name": "HTTP Req - Hugging Face",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -160,
        336
      ],
      "notes": "Lädt Hugging Face als HTTP Request (wg. CORS)"
    },
    {
      "parameters": {
        "url": "https://the-decoder.de/feed/",
        "options": {}
      },
      "id": "90be9134-81eb-41e1-9724-53acbcd7cb2d",
      "name": "RSS Feed Read - The Decoder",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -160,
        512
      ],
      "notes": "Lädt The Decoder RSS Feed (Deutsche AI-News)"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "8573e1d1-7c6a-42af-ae2f-55f5adb7d8a8",
      "name": "RSS Feed Read - TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -160,
        672
      ],
      "notes": "Lädt TechCrunch AI RSS Feed"
    },
    {
      "parameters": {},
      "id": "600e110d-95e4-4998-9a58-7835cc4a7210",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        128,
        176
      ],
      "notes": "Bündelt alle RSS Feeds zu einem Array"
    },
    {
      "parameters": {
        "jsCode": "// *** Code Node: Verarbeitet alle Items vom Merge Node OHNE Set Nodes ***\n// Mode: Run Once for All Items\n// Quelle wird automatisch basierend auf URL erkannt\n\nconst items = $input.all();\nconst maxAge = 30 * 24 * 60 * 60 * 1000; // 30 Tage\nconst now = Date.now();\n\nconst aiKeywords = [\n  'ai', 'artificial intelligence', 'machine learning', 'llm', 'gemini', 'gpt', 'claude',\n  'automation', 'workflow', 'neural', 'deep learning', 'ki', 'kuenstliche intelligenz',\n  'mittelstand', 'kmu', 'sme', 'digitalisierung', 'industrie 4.0', 'prozessautomatisierung',\n  'rpa', 'robot process automation', 'chatbot', 'assistenzsystem', 'assistenzsysteme',\n  'datenanalyse', 'predictive analytics', 'computer vision', 'nlp', 'natural language processing'\n];\n\n// Helper: Erkenne Source und Language basierend auf URL\nfunction detectSourceAndLanguage(url) {\n  if (!url) return { source: 'Unknown', language: 'en' };\n  \n  const urlLower = url.toLowerCase();\n  \n  // Google AI\n  if (urlLower.includes('research.google.com') || urlLower.includes('ai.googleblog.com') || urlLower.includes('deepmind.google')) {\n    return { source: 'Google AI', language: 'en' };\n  }\n  \n  // OpenAI\n  if (urlLower.includes('openai.com')) {\n    return { source: 'OpenAI', language: 'en' };\n  }\n  \n  // Anthropic\n  if (urlLower.includes('anthropic.com') || urlLower.includes('reddit.com/r/anthropicai')) {\n    return { source: 'Anthropic', language: 'en' };\n  }\n  \n  // Hugging Face\n  if (urlLower.includes('huggingface.co')) {\n    return { source: 'Hugging Face', language: 'en' };\n  }\n  \n  // n8n Blog\n  if (urlLower.includes('reddit.com/r/n8n')) {\n    return { source: 'n8n Blog', language: 'en' };\n  }\n  \n  // The Decoder (DE)\n  if (urlLower.includes('the-decoder.de')) {\n    return { source: 'The Decoder', language: 'de' };\n  }\n  \n  // TechCrunch AI\n  if (urlLower.includes('techcrunch.com')) {\n    return { source: 'TechCrunch AI', language: 'en' };\n  }\n  \n  return { source: 'Unknown', language: 'en' };\n}\n\n// Helper für XML-Parsing\nfunction normalizeArticle(article, type) {\n  let title = '', link = '', description = '', pubDate = '';\n  try {\n    if (type === 'rss') {\n      title = article.title?.[0]?._ || article.title?.[0] || article.title || '';\n      link = article.link?.[0]?._ || article.link?.[0] || article.link || '';\n      description = (article.description?.[0]?._ || article.description?.[0] || article.description || '').replace(/<[^>]*>/g, '').substring(0, 200);\n      pubDate = article.pubDate?.[0]?._ || article.pubDate?.[0] || article.pubDate || new Date().toISOString();\n    } else if (type === 'atom') {\n      title = article.title?.[0]?._ || article.title?.[0] || article.title || '';\n      link = (article.link?.[0]?.$?.href) || article.link?.[0]?._ || article.link?.[0] || article.link || '';\n      description = (article.summary?.[0]?._ || article.summary?.[0] || article.content?.[0]?._ || article.content?.[0] || '').replace(/<[^>]*>/g, '').substring(0, 200);\n      pubDate = article.published?.[0]?._ || article.published?.[0] || article.updated?.[0]?._ || article.updated?.[0] || new Date().toISOString();\n    }\n    return { title, link, description, pubDate };\n  } catch (e) {\n    return null;\n  }\n}\n\n// Verarbeite alle Items vom Merge Node\nconst articles = []; // Alle Artikel (mit title/link)\n\nconsole.log('📥 Total Items vom Merge:', items.length);\nconsole.log('📋 Erste 3 Items:', items.slice(0, 3).map(i => Object.keys(i.json)));\n\nfor (const item of items) {\n  const entry = item.json;\n  \n  // Wenn es ein RSS Feed Read Artikel ist (HAT direkt title + link)\n  if (entry.title && entry.link) {\n    const { source, language } = detectSourceAndLanguage(entry.link);\n    \n    articles.push({\n      title: entry.title,\n      link: entry.link,\n      description: (entry.contentSnippet || entry.content || entry.description || '').replace(/<[^>]*>/g, '').substring(0, 200),\n      pubDate: entry.isoDate || entry.pubDate || entry.date || new Date().toISOString(),\n      source: source,\n      language: language\n    });\n  }\n  \n  // Wenn es HTTP Request XML ist (rss/feed)\n  if (entry.rss || entry.feed) {\n    let rawArticles = [];\n    let feedType = '';\n    \n    if (entry.rss?.channel?.[0]?.item) {\n      rawArticles = entry.rss.channel[0].item;\n      feedType = 'rss';\n    } else if (entry.feed?.entry) {\n      rawArticles = Array.isArray(entry.feed.entry) ? entry.feed.entry : [entry.feed.entry];\n      feedType = 'atom';\n    }\n    \n    for (const article of rawArticles) {\n      const norm = normalizeArticle(article, feedType);\n      if (norm && norm.title && norm.link) {\n        const { source, language } = detectSourceAndLanguage(norm.link);\n        \n        articles.push({\n          ...norm,\n          source: source,\n          language: language\n        });\n      }\n    }\n  }\n}\n\nconsole.log('📰 Artikel gefunden:', articles.length);\nconsole.log('📋 Erste 3 Artikel:', articles.slice(0, 3).map(a => ({ title: a.title?.substring(0, 30), source: a.source })));\n\n// Filterung und Kategorisierung\nconst filteredItems = [];\n\nfor (const article of articles) {\n  if (!article.title || !article.link) continue;\n  \n  const titleLower = article.title.toLowerCase();\n  const descLower = (article.description || '').toLowerCase();\n  \n  const isRelevant = aiKeywords.some(keyword => titleLower.includes(keyword) || descLower.includes(keyword));\n  \n  if (!isRelevant) continue;\n  \n  let category = 'große-modelle';\n  if (titleLower.includes('workflow') || titleLower.includes('n8n') || titleLower.includes('automation') || titleLower.includes('prozessautomatisierung')) {\n    category = 'workflow-tools';\n  } else if (titleLower.includes('sales') || titleLower.includes('hubspot') || titleLower.includes('crm') || titleLower.includes('vertrieb')) {\n    category = 'sales-tools';\n  } else if (titleLower.includes('mittelstand') || titleLower.includes('kmu') || titleLower.includes('sme') || titleLower.includes('unternehmen')) {\n    category = 'kmu-relevanz';\n  } else if (titleLower.includes('industrie') || titleLower.includes('produktion') || titleLower.includes('manufacturing')) {\n    category = 'industrie-4.0';\n  } else if (titleLower.includes('dienstleistung') || titleLower.includes('service') || titleLower.includes('beratung')) {\n    category = 'dienstleister-tools';\n  }\n  \n  const itemDate = article.pubDate ? new Date(article.pubDate) : new Date();\n  const age = now - itemDate.getTime();\n  \n  if (age <= maxAge && age >= 0) {\n    filteredItems.push({\n      title: article.title.trim(),\n      description: article.description.trim(),\n      link: article.link.trim(),\n      date: itemDate.toISOString(),\n      source: article.source || 'Unknown',\n      category: category,\n      language: article.language || 'en'\n    });\n  }\n}\n\nconsole.log('✅ Nach Filterung:', filteredItems.length, 'Items');\n\n// Entferne Duplikate (nach Link)\nconst uniqueItems = filteredItems.filter((item, index, self) =>\n  index === self.findIndex(t => t.link === item.link)\n);\n\n// Sortiere nach Datum (neueste zuerst) und limitiere auf 15 News\nconst sortedItems = uniqueItems.sort((a, b) => new Date(b.date) - new Date(a.date)).slice(0, 15);\n\nconsole.log('📤 Finale Output:', sortedItems.length, 'Items');\n\n// Return muss Array sein mit json-Property\nif (sortedItems.length === 0) {\n  // FALLBACK: Return leeres Array wenn keine Items (verhindert Workflow-Stop)\n  return [{ json: { title: 'No articles found', link: '', description: '', date: new Date().toISOString(), source: 'System', category: 'system', language: 'en' } }];\n}\n\nreturn sortedItems.map(item => ({ json: item }));"
      },
      "id": "836d1a91-ccdf-49fe-9ce2-29dc8516895d",
      "name": "Parse RSS & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        176
      ],
      "notes": "Filtert und verarbeitet alle RSS Feeds - erkennt Source/Language automatisch basierend auf URL"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(item => item.json) }}",
        "options": {}
      },
      "id": "b652a424-e949-4579-b04e-e7aa73b5b135",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        864,
        64
      ],
      "notes": "Gibt News als JSON Array zurück für Website (nur bei Webhook-Trigger)"
    },
    {
      "parameters": {},
      "id": "f6b1907f-48fb-4a80-ae35-ee3c13362671",
      "name": "NoOp - Cron Trigger",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        864,
        272
      ],
      "notes": "Platzhalter für Cron-Trigger-Pfad (optional: hier könnte z.B. Google Sheets, Discord etc. angeschlossen werden)"
    }
  ],
  "connections": {
    "Alle 2 Stunden": {
      "main": [
        [
          {
            "node": "RSS Feed Read - Google AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Req - n8n Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read - OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Req - Anthropic",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Req - Hugging Face",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read - The Decoder",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read - TechCrunch AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Webhook": {
      "main": [
        [
          {
            "node": "RSS Feed Read - Google AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Req - n8n Blog",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read - OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Req - Anthropic",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Req - Hugging Face",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read - The Decoder",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Feed Read - TechCrunch AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read - Google AI": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Req - n8n Blog": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read - OpenAI": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Req - Anthropic": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Req - Hugging Face": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read - The Decoder": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read - TechCrunch AI": {
      "main": [
        [
          {
            "node": "Merge All Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Feeds": {
      "main": [
        [
          {
            "node": "Parse RSS & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS & Filter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoOp - Cron Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": []
    },
    "NoOp - Cron Trigger": {
      "main": []
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3732c6ee-cf9b-4c8b-9f61-6f205593a1e0",
  "meta": {
    "instanceId": "1268d95745fc1c71df26afc09ddd8e6477a2faab952c5e36a37f4654b44d882a"
  },
  "id": "oNYeQS7Z06TIvs8E",
  "tags": []
}
