n8n-business-card-workflow-vertex.json
{
  "name": "Business Card Extraction Demo - Vertex AI",
  "nodes": [
    {
      "parameters": {
        "path": "business-card-extraction",
        "options": {
          "responseCode": 200,
          "responseMode": "lastNode"
        },
        "binaryPropertyName": "file"
      },
      "id": "webhook-form",
      "name": "Business Card Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "business-card-extraction",
      "continueOnFail": false,
      "notes": "Form Trigger für Demo. Lädt Datei hoch oder nutzt sample=1/2 Parameter."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "string": [
            {
              "value1": "={{$json.query.sample}}",
              "value2": "",
              "operation": "notEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-sample",
      "name": "Ist Sample?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "string": [
            {
              "value1": "={{$json.query.sample}}",
              "value2": "1",
              "operation": "equals"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-sample-1",
      "name": "Sample 1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "string": [
            {
              "value1": "={{$json.query.sample}}",
              "value2": "2",
              "operation": "equals"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check-sample-2",
      "name": "Sample 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "url": "https://karusocaminar.github.io/kortex-website/samples/bc-1.jpg",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "load-sample-1",
      "name": "Lade Sample 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 180],
      "notes": "Lädt Demo-Visitenkarte 1 (Oliver Krause). Passe die URL an deine tatsächliche Datei an!"
    },
    {
      "parameters": {
        "url": "https://karusocaminar.github.io/kortex-website/samples/bc-2.jpg",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "load-sample-2",
      "name": "Lade Sample 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 420],
      "notes": "Lädt Demo-Visitenkarte 2 (Gabi Graßnick). Passe die URL an deine tatsächliche Datei an!"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Setze Sample-Nummer für nachfolgende Verarbeitung\n// WICHTIG: Binary-Daten explizit weitergeben!\nconst sample = $json.query?.sample || '';\n\n// Stelle sicher, dass Binary-Daten korrekt weitergegeben werden\nlet binaryData = $binary;\n\n// Falls Binary leer ist, versuche vom vorherigen Node zu holen\nif (!binaryData || (typeof binaryData === 'object' && Object.keys(binaryData || {}).length === 0)) {\n  // Für Sample-Loads: Binary sollte vom HTTP Request Node kommen\n  try {\n    const prevNode = $('Lade Sample 1') || $('Lade Sample 2') || $('Business Card Upload');\n    if (prevNode && prevNode.binary) {\n      binaryData = prevNode.binary;\n    } else if (prevNode && prevNode.item && prevNode.item.binary) {\n      binaryData = prevNode.item.binary;\n    }\n  } catch (e) {\n    // Ignoriere Fehler\n  }\n}\n\nreturn {\n  json: {\n    sample: sample,\n    source: sample ? `Sample ${sample}` : 'Upload'\n  },\n  // Binary explizit weitergeben - n8n benötigt dies manchmal explizit\n  binary: binaryData || $binary\n};"
      },
      "id": "set-sample-info",
      "name": "Setze Sample-Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Konvertiere Binary zu Base64 für Vertex AI\n// WICHTIG: Hole Binary-Daten direkt von den Source-Nodes!\nconst sample = $json.sample || '';\nlet binaryData = null;\nlet mimeType = 'image/jpeg';\n\n// Strategie 1: Für Samples - hole direkt von HTTP Request Nodes\nif (sample === '1') {\n  try {\n    const sample1Node = $('Lade Sample 1');\n    if (sample1Node && sample1Node.item && sample1Node.item.binary) {\n      const binary = sample1Node.item.binary;\n      // HTTP Request gibt Binary unter verschiedenen Keys zurück\n      const keys = Object.keys(binary);\n      if (keys.length > 0) {\n        const firstKey = keys[0];\n        binaryData = binary[firstKey].data;\n        mimeType = binary[firstKey].mimeType || 'image/jpeg';\n      }\n    }\n  } catch (e) {\n    console.log('Fehler beim Holen von Sample 1:', e.message);\n  }\n} else if (sample === '2') {\n  try {\n    const sample2Node = $('Lade Sample 2');\n    if (sample2Node && sample2Node.item && sample2Node.item.binary) {\n      const binary = sample2Node.item.binary;\n      const keys = Object.keys(binary);\n      if (keys.length > 0) {\n        const firstKey = keys[0];\n        binaryData = binary[firstKey].data;\n        mimeType = binary[firstKey].mimeType || 'image/jpeg';\n      }\n    }\n  } catch (e) {\n    console.log('Fehler beim Holen von Sample 2:', e.message);\n  }\n} else if (sample === '3') {\n  try {\n    const sample3Node = $('Lade Sample 3');\n    if (sample3Node && sample3Node.item && sample3Node.item.binary) {\n      const binary = sample3Node.item.binary;\n      const keys = Object.keys(binary);\n      if (keys.length > 0) {\n        const firstKey = keys[0];\n        binaryData = binary[firstKey].data;\n        mimeType = binary[firstKey].mimeType || 'image/jpeg';\n      }\n    }\n  } catch (e) {\n    console.log('Fehler beim Holen von Sample 3:', e.message);\n  }\n}\n\n// Strategie 2: Für Uploads - hole vom Webhook (binaryPropertyName='file')\nif (!binaryData && $binary && $binary.file) {\n  binaryData = $binary.file.data;\n  mimeType = $binary.file.mimeType || 'image/jpeg';\n}\n\n// Strategie 3: Fallback - durchsuche $binary nach allen möglichen Keys\nif (!binaryData && $binary && typeof $binary === 'object') {\n  const binaryKeys = Object.keys($binary);\n  for (const key of binaryKeys) {\n    if ($binary[key] && $binary[key].data) {\n      binaryData = $binary[key].data;\n      mimeType = $binary[key].mimeType || $binary[key].fileExtension || 'image/jpeg';\n      break;\n    }\n  }\n}\n\n// Strategie 4: Versuche vom \"Setze Sample-Info\" Node (falls doch dort)\nif (!binaryData) {\n  try {\n    const prevNode = $('Setze Sample-Info');\n    if (prevNode && prevNode.item && prevNode.item.binary) {\n      const binary = prevNode.item.binary;\n      const keys = Object.keys(binary);\n      if (keys.length > 0) {\n        const firstKey = keys[0];\n        binaryData = binary[firstKey].data;\n        mimeType = binary[firstKey].mimeType || 'image/jpeg';\n      }\n    }\n  } catch (e) {\n    // Ignoriere\n  }\n}\n\n// Prüfe ob Binary-Daten gefunden wurden\nif (!binaryData) {\n  console.error('DEBUG: Binary-Daten nicht gefunden!');\n  console.error('DEBUG: sample =', sample);\n  console.error('DEBUG: $binary vorhanden =', !!$binary);\n  console.error('DEBUG: $binary Keys =', $binary && typeof $binary === 'object' ? Object.keys($binary) : 'N/A');\n  throw new Error('Kein Binary-Daten gefunden! Stelle sicher, dass ein Bild hochgeladen wurde oder ein Sample geladen wurde.');\n}\n\n// Base64 Encoding\nlet base64;\ntry {\n  if (typeof Buffer !== 'undefined' && Buffer.isBuffer) {\n    // Konvertiere zu Buffer falls nötig\n    const bufferData = Buffer.isBuffer(binaryData) ? binaryData : Buffer.from(binaryData);\n    base64 = bufferData.toString('base64');\n  } else if (binaryData instanceof Uint8Array) {\n    // Uint8Array zu Base64\n    const bytes = Array.from(binaryData);\n    const binString = bytes.map(byte => String.fromCharCode(byte)).join('');\n    base64 = btoa(binString);\n  } else if (typeof binaryData === 'string') {\n    // Falls schon Base64\n    base64 = binaryData.replace(/^data:.*?;base64,/, '');\n  } else {\n    // Fallback: Versuche als Buffer zu behandeln\n    const bytes = new Uint8Array(binaryData);\n    const binString = Array.from(bytes, byte => String.fromCharCode(byte)).join('');\n    base64 = btoa(binString);\n  }\n} catch (error) {\n  console.error('Fehler bei Base64-Konvertierung:', error);\n  throw new Error(`Base64-Konvertierung fehlgeschlagen: ${error.message}`);\n}\n\n// Validiere Base64\nif (!base64 || base64.length === 0) {\n  throw new Error('Base64-Konvertierung hat leeren String erzeugt!');\n}\n\nreturn {\n  json: {\n    sample: sample,\n    source: $json.source || (sample ? `Sample ${sample}` : 'Upload'),\n    imageBase64: base64,\n    mimeType: mimeType\n  }\n};"
      },
      "id": "convert-to-base64",
      "name": "Konvertiere zu Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "notes": "Konvertiert das Bild zu Base64 für Vertex AI Gemini API. Mode muss 'Run Once for Each Item' sein damit $binary verfügbar ist."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `Extrahiere alle Kontaktdaten aus dieser Visitenkarte und gib sie als strukturiertes JSON zurück.\\n\\nErforderliche Felder:\\n- name: Vollständiger Name\\n- company: Firma/Unternehmen\\n- email: E-Mail-Adresse\\n- phone: Haupttelefonnummer (Mobil bevorzugt)\\n- phone_office: Bürotelefonnummer (optional)\\n- address: Straße und Hausnummer\\n- city: Postleitzahl und Stadt\\n- website: Website-URL (optional)\\n- job_title: Berufsbezeichnung/Position (optional)\\n\\nGib NUR valides JSON zurück, kein zusätzlicher Text, kein Markdown-Formatting.\\n\\nBeispiel-Format:\\n{\\\"name\\\": \\\"Max Mustermann\\\", \\\"company\\\": \\\"Beispiel GmbH\\\", \\\"email\\\": \\\"max@beispiel.de\\\", \\\"phone\\\": \\\"+49 123 456789\\\", \\\"address\\\": \\\"Musterstraße 1\\\", \\\"city\\\": \\\"12345 Musterstadt\\\"}` }}",
        "options": {
          "systemMessage": "Du bist ein Experte für Visitenkarten-Extraktion. Extrahiere strukturierte Kontaktdaten aus Bildern und gib sie als valides JSON zurück."
        },
        "attachments": {
          "attachments": [
            {
              "name": "business-card",
              "data": "={{ $json.imageBase64 }}",
              "mimeType": "={{ $json.mimeType }}"
            }
          ]
        }
      },
      "id": "ai-agent-vertex",
      "name": "AI Agent - Vertex AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1560, 300],
      "notes": "⚠️ WICHTIG: Konfiguriere unter 'Chat Model' → Google Vertex AI Gemini mit deinen Credentials!"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent Response (Vertex AI Gemini)\nconst response = $json;\nconst source = $('Setze Sample-Info').item.json.source || 'Upload';\nconst sample = $('Setze Sample-Info').item.json.sample || '';\n\n// AI Agent Response Struktur kann variieren:\n// Option 1: Direkt JSON Response\n// Option 2: Text mit JSON\n// Option 3: Strukturierte Response mit output/chatOutput\n\nlet extractedData = {};\nlet responseText = '';\n\ntry {\n  // Versuche verschiedene Response-Strukturen\n  if (response.output) {\n    responseText = response.output;\n  } else if (response.chatOutput) {\n    responseText = response.chatOutput;\n  } else if (response.text) {\n    responseText = response.text;\n  } else if (response.message) {\n    responseText = response.message;\n  } else if (response.candidates?.[0]?.content?.parts?.[0]?.text) {\n    // Vertex AI native Format\n    responseText = response.candidates[0].content.parts[0].text;\n  } else if (typeof response === 'string') {\n    responseText = response;\n  } else if (typeof response === 'object' && response.name) {\n    // Bereits strukturiertes JSON\n    extractedData = response;\n  }\n  \n  // Extrahiere JSON aus Text (falls zusätzlicher Text vorhanden)\n  if (responseText) {\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    const jsonString = jsonMatch ? jsonMatch[0] : responseText;\n    extractedData = JSON.parse(jsonString);\n  }\n} catch (error) {\n  // Fallback: Versuche direkt zu parsen\n  if (typeof response === 'object' && !response.candidates) {\n    extractedData = response;\n  } else {\n    console.error('Fehler beim Parsen der AI Agent Response:', error);\n    console.error('Response:', JSON.stringify(response, null, 2));\n    extractedData = {};\n  }\n}\n\n// Füge Metadaten hinzu\nreturn [{\n  json: {\n    name: extractedData.name || '',\n    company: extractedData.company || '',\n    email: extractedData.email || '',\n    phone: extractedData.phone || extractedData.phone_mobile || '',\n    phone_office: extractedData.phone_office || extractedData.phone_büro || '',\n    address: extractedData.address || '',\n    city: extractedData.city || '',\n    website: extractedData.website || extractedData.www || '',\n    job_title: extractedData.job_title || extractedData.position || '',\n    source: source,\n    sample: sample,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-vertex-response",
      "name": "Parse AI Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "notes": "Parst die Vertex AI Gemini Response und extrahiert strukturierte Kontaktdaten"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Formatiere Daten für die Website\nconst data = $json;\nreturn {\n  json: {\n    type: 'business-card-processed',\n    payload: {\n      name: data.name || '',\n      company: data.company || '',\n      email: data.email || '',\n      phone: data.phone || '',\n      phone_office: data.phone_office || '',\n      address: data.address || '',\n      city: data.city || '',\n      website: data.website || '',\n      job_title: data.job_title || '',\n      source: data.source || 'Upload',\n      sample: data.sample || '',\n      timestamp: data.timestamp || new Date().toISOString()\n    }\n  }\n};"
      },
      "id": "format-response",
      "name": "Formatiere für Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Antwort an Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300],
      "notes": "Sendet Ergebnisse zurück an die Website. Die Website empfängt die Daten via postMessage."
    }
  ],
  "connections": {
    "Business Card Upload": {
      "main": [
        [
          {
            "node": "Ist Sample?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist Sample?": {
      "main": [
        [
          {
            "node": "Setze Sample-Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sample 1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample 1?": {
      "main": [
        [
          {
            "node": "Lade Sample 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sample 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample 2?": {
      "main": [
        [
          {
            "node": "Lade Sample 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lade Sample 1": {
      "main": [
        [
          {
            "node": "Setze Sample-Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lade Sample 2": {
      "main": [
        [
          {
            "node": "Setze Sample-Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setze Sample-Info": {
      "main": [
        [
          {
            "node": "Konvertiere zu Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konvertiere zu Base64": {
      "main": [
        [
          {
            "node": "AI Agent - Vertex AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Vertex AI": {
      "main": [
        [
          {
            "node": "Parse AI Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Agent Response": {
      "main": [
        [
          {
            "node": "Formatiere für Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatiere für Website": {
      "main": [
        [
          {
            "node": "Antwort an Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T12:00:00.000Z",
  "versionId": "1"
}

